<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554393066719-7g72b2ikq0a5sphag3v7mornkl8oevpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554393066719-7g72b2ikq0a5sphag3v7mornkl8oevpp</string>
	<key>API_KEY</key>
	<string>AIzaSyBNYPdlxlBS02JAKKyR_1hxJlXv1oaRL6I</string>
	<key>GCM_SENDER_ID</key>
	<string>554393066719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stuff.FireBaseUIKit</string>
	<key>PROJECT_ID</key>
	<string>fir-testing-42e6b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testing-42e6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554393066719:ios:2db64e238d119ab1b61d6a</string>
</dict>
</plist>